<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title>Sign Language</title>
    
   </head>
   <body class="sub_page">
      
				  
				  
                     <form method="post" name="form1" id="form1" action="">
					 
					
							{% if act=="1" %}
							<h5>Avatar Generation</h5>
							<script language="javascript">
							window.parent.location.href="/test_voice2";
							</script>
							
							{% endif %}
						</div>
						
					 </div>
					 
					 
                     </form>
               
	  
						<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/test_voice1';
}, 2000);
</script>
					
	  
   
   </body>
</html>